/*----------| STYLE RESET |----------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  ::-webkit-scrollbar {
    display: none;
  }
}
/*----------+----------+----------*/

/*----------| PAGE |----------*/
body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 2rlh;
}
header {
  height: 6rlh;
  width: 100vw;
  padding: 0 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main {
  padding: 0 12vw;
  display: flex;
  flex-direction: column;
  gap: 10rlh;
  section:not(.hero) {
    width: 76vw;
  }
}
footer {
  height: fit-content;
  max-width: calc(100vw - 2vw);
  margin: 2vw;
  margin-top: 8rlh;
  padding: 2rlh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rlh;
}
/*----------+----------+----------*/

/*----------| @MEDIA PROPS |----------*/
@media screen and (width <= 1132px) {
  footer {
    margin-bottom: calc(2vw + 6rlh);
  }
}
/*----------+----------+----------*/
